{% extends 'base.html.twig' %}

{% block body %}
    <h2>Criando Tópico</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Criar" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('subscription_index') }}">Voltar</a>
        </li>
    </ul>
{% endblock %}
